<div style="background-color: black; height: 100%;">
  <div class="container">
    <div class="objects">
      <div class="objects_computer"></div>
      <div class="objects_table"></div>
      <div class="objects_cup"></div>
      <div class="smoke"></div>
      <div class="objects_chair"></div>
    </div>
    <!-- <div class="box">
      <div class="box_1">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="box_2">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="box_3"></div>
    </div> -->
  </div>
  <div class="footer">
    <div class="title mod">
      Happy Programmer's Day <;>
    </div>
    <!-- <div class="title">
      Made with ♥ by kibum
      <div class="sub">
        <a href="https://www.instagram.com/kibum.png/" target=”_blank”>instagram: kibum.png</a>
        <span>|</span>
        <a href="https://twitter.com/kibumLaura" target=”_blank”> twitter: kibumLaura</a>
      </div>
    </div> -->
  </div>
</div>
