main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.btn {
  background-color: rgb(195, 66, 195);
  width: 10rem;
  border-radius: round($number: 20px);
  border: none;
  height: 2rem;
  color: white;
}
