<main>
  <form [formGroup]="form" class="container">
    <mat-form-field appearance="fill" style="width: 300px">
      <mat-label>Título do evento </mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 300px">
      <mat-label>Tipo de evento</mat-label>
      <mat-select formControlName="type_meeting">
        <mat-option value="Reunião virtual">Reunião virtual</mat-option>
        <mat-option value="Encontro presencial">Encontro presencial</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 300px">
      <mat-label>Descrição da Tarefa</mat-label>
      <textarea matInput formControlName="details"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 300px">
      <mat-label>Data</mat-label>
      <input matInput formControlName="date" [matDatepicker]="picker" />
      <mat-hint>DD/MM/AAAA</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 300px">
      <mat-label>Escolha um horário</mat-label>
      <input type="time" matInput formControlName="time" />
    </mat-form-field>
    <button type="submit" class="btn" (click)="save()">Enviar</button>
  </form>
</main>
